body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: grey;
}

.container {
    position: relative;
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: white;
    cursor: grab;
    border-radius: 10px;
}

.container img {
    display: block;
    margin: 0 auto;
}

h2{

color: grey;

}


.container h1, .container h2 {

    text-align: center;
}

.container {
    max-width: 50%; /* Set a smaller max-width for the container */
    margin: 0 auto; /* Center the container horizontally */
    
}






